{% extends 'base.html' %}

{% block title %} Registeration  {% endblock title %} 


{% block body %} 

<div class="container">
  <div class=".row justidy-content-center">
    <div class="col-sm-8">
    <h2>Registertion_Page</h2>
    <form action="/register" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">user_name:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter user_name" name="username">
      </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/login" class="btn btn-dark">Login</a>
    </form>
    </div>
  </div>
</div>

{% endblock body %} 
